*
{
	margin: 0;
	padding: 0;
}

#main{
	width:100%;
	background-color: red;
	height:100%;
}

#top-panel{
	width:100%;
	background-color: blue;
	/*text-align: right;*/
	overflow: hidden;
}

#top-panel div{
	float: right;
}

#bottom-panel{
	width:100%;
	height:500px;
	overflow: hidden;
	background-color: green;
}

#left-panel{
	/*display: inline-block;*/
	background-color: yellow;
	float:left;
	height: 100%;
	width:15%;
}

#right-panel{
	/*display: inline-block;*/
	background-color: purple;
	float:right;
	width:85%;
	height:100%;
}

.edit{
	position:absolute;
	top: 200px;
}

.memeImg{
	float:left;
	margin-top:20px;
	margin-left:20px;
}



.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.rating > span {
	display: inline-block;
	position: relative;
	width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}

.rating > span: {}

.container {
	width: 210px;
	height: 195px;
	position: relative;
	margin: 50px auto;
	/* background-color: #000;
	border: 1px solid #CCC; */
	-webkit-perspective: 1100;
}

#coverflow {
	width: 100%;
	height: 100%;
	position: absolute;
	/* background-color: #000; */
	-webkit-transform: translateZ(-200px);
	-webkit-transform-style: preserve-3d;
	/* -webkit-backface-visibility: hidden; */
}

#coverflow figure {
    display: block;
    position: absolute;
    width: 200px;
    height: 170px;      
    border: 2px solid black; 
    cursor:pointer;           
    -webkit-transition: -webkit-transform 0.5s ease; 
    -webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.7, transparent), to(white));
    -webkit-box-shadow:8px -7px 8px rgba(0, 0, 0, 0.9);
} 

#coverflow figure img
{
    width:100%;
    height:100%;
}



/*initial configuration*/
#coverflow figure:nth-child(1) {
	-webkit-transform:translateX(100px) rotateY(-60deg);         
}
#coverflow figure:nth-child(2) {
    -webkit-transform:translateX(150px) rotateY(-60deg);        
}
#coverflow figure:nth-child(3) {
    -webkit-transform:translateX(200px) rotateY(-60deg);         
}
#coverflow figure:nth-child(4) {
    -webkit-transform:translateX(250px) rotateY(-60deg);        
}
#coverflow figure:nth-child(5) {
    -webkit-transform:translateX(300px) rotateY(-60deg);        
} 
#coverflow figure:nth-child(6) {
    -webkit-transform:translateX(350px) rotateY(-60deg);        
} 
#coverflow figure:nth-child(7) {
    -webkit-transform:translateX(400px) rotateY(-60deg);        
} 
   
.pushBtn
{
    width:100px; 
    height:30px;  
    cursor:pointer;   
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#90CF23), to(#6A9C1D), color-stop(.4,#8BC20A));  
    -webkit-border-radius:5px;
    border:none;
    font-family:helvetica;
    color:#fff;
    font-size:13px;
    font-weight:bold;
}             