.slide_wrapper {
	position: relative;
	background-color: rgba(0,0,0, 0.7);
	display: inline-block;
	height: 100%;
	float: left;
	width: 75%;
	vertical-align: middle;
}

.diy-slideshow, .addMeme{
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: auto;
  height: 3.5in;
  min-width: 4in;
  min-height: 3.5in;
  max-width: 4in;
  max-height: 3.5in;
  background-color: black;
  margin: auto;
  overflow: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img {
  vertical-align: middle;
  height: 100%;
}

figure{
  position: absolute;
  opacity: 0;
  vertical-align: middle;
  /*max-width: auto;*/
  height: 100%;
  min-width: 4in;
  min-height: 3.5in;
  max-height: 3.5in;
  transition: 1s opacity;
}

figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
}
figcaption a{
  color: #fff;
}
figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}

table, th, td
{
  border-collapse:collapse;
}

tr > td{
  padding-bottom: 1em;
  padding-top: 1em;
}

#button{
  padding-top: 100px;
}

.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  /*user-select: none;*/
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*.edit{
	position: absolute;
	top: 0.5in;
}

.edit-form
{
	position: fixed;
	float: right;
}*/

.memeImg{
	float:left;
	margin-top:20px;
	margin-left:20px;
}

.edit-meme{
	position: relative;
	float: right;
	width: 25%;
	height: 95%;
	border: solid 5px black;
	background: grey;
	/*position: relative;*/
	border: solid 5px black;
	background: grey;
}

#comment-box{
  height: 200px;
}

#button{
  /*position: absolute; */
  bottom: 0; 
  left: 0;
}


/* Star Rating */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
