.slide_wrapper {
  text-align:center;
	position: relative;
	background-color: rgba(0,0,0, 0.7);
	display: inline-block;
	height: 100%;
	float: left;
	width: 65%;
	min-width: 5in;
	min-height: 4.5in;
	vertical-align: middle;
}

.diy-slideshow, .addMeme{
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: auto;
  height: 4.5in;
  min-width: 5in;
  min-height: 3.5in;
  max-width: 6in;
  max-height: 4.5in;
  background-color: black;
  margin: auto;
  overflow: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img {
  height: 100%;
}

figure{
  position: absolute;
  text-align: center;
  opacity: 0;
  vertical-align: middle;
  /*max-width: auto;*/
  height: 100%;
  min-width: 4in;
  min-height: 3.5in;
  transition: 1s opacity;
}

figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
}
figcaption a{
  color: #fff;
}
figure.show{
  opacity: 1;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

table, th, td
{
  border-collapse:collapse;
}

tr > td{
  padding-bottom: 1em;
  padding-top: 1em;
}

.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  /*user-select: none;*/
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*.edit{
	position: absolute;
	top: 0.5in;
}

.edit-form
{
	position: fixed;
	float: right;
}*/

.memeImg{
	float:left;
	margin-top:20px;
	margin-left:20px;
}

.form_table{
  text-align:center;
}

tbody
{
	text-align: center;
}

.edit-meme{
	position: relative;
  	text-align:center;
	float: right;
	color: white;
	font-weight: bold;
	font-size: medium;
	width: 3.22in;
	height: 100%;
	border: solid 5px black;
	background: rgba(0,0,0, 0.8);
	border: solid 5px black;
	background: #95BBC4;
	overflow: visible;
}

.form-box
{
	position: relative;
	text-align: center;
	height: 50%;
}

.name-row
{
	position: absolute;
	height: 0.5in;
	width: 100%;
	margin-top: 10%;
}

div.name-row > label
{
	float: left;
	margin-left: 10%;
	text-shadow: 1px 1px 1px black;
}

div.name-row > input
{
	float: right;
	margin-right: 10%;
	text-align: center;
	-webkit-appearance:none;
	border:none;
	height:45%;
	font-size: 10pt;
	background-color: whitesmoke;
	color:rgba(0,0,0,0.9);
	border: 1px solid grey;
}

.cat-row
{
	position: absolute;
	height: 0.5in;
	width: 100%;
	margin-top: 30%;
}

div.cat-row > label
{
	float: left;
	margin-left: 10%;
	text-shadow: 1px 1px 1px black;
}

div.cat-row > select
{
	float: right;
	margin-right: 10%;
}

.tag-row
{
	position: absolute;
	height: 0.5in;
	width: 100%;
	margin-top: 50%;
}

div.tag-row > label
{
	float: left;
	margin-left: 10%;
	text-shadow: 1px 1px 1px black;
}

div.tag-row > input
{
	float: right;
	margin-right: 10%;
	text-align: center;
	-webkit-appearance:none;
	border:none;
	height:45%;
	font-size: 10pt;
	background-color: whitesmoke;
	color:rgba(0,0,0,0.9);
	border: 1px solid grey;
}

.rating-row
{
	position: absolute;
	height: 0.5in;
	width: 100%;
	margin-top: 90%;
}

div.rating-row > label
{
	float: left;
	margin-left: 10%;
	text-shadow: 1px 1px 1px black;
}

.comment-wrapper
{
	position: absolute;
	margin-top: 110%;
	height: 65%;
	width: 100%;
	text-align: center;
	overflow: hidden !important;
}

.comment-row
{
	text-shadow: 1px 1px 1px black;
	overflow: hidden !important;
}

.button{
  /*position: absolute; */
  margin-top: 2%;
  bottom: 0; 
  left: 0;
}



.comment{
  text-align:center;
}

textarea
{
	resize: none;
	height: 100%;
	width: 70%;
}

.starRating{
  display        : inline-block;
  position       : relative;
  height         : 24px;
  background     : url('stars.png') repeat-x 0 0;
  vertical-align : bottom;
}

.starRating div{
  float    : left;
  position : relative;
  height   : 24px;
}

.starRating input{
  position : relative;
  z-index  : 1;
  width    : 24px;
  height   : 24px;
  margin   : 0;
  padding  : 0;
  opacity  : 0;
}

.starRating label{
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 24px;
}

.starRating span{
  display : none;
}

.starRating       input:checked       + label,
.starRating:hover input:checked:hover + label{
  background : url('stars.png') repeat-x 0 -24px;
}

.starRating:hover input:checked + label{
  background : transparent;
}

.starRating:hover input:hover + label{
  background : url('stars.png') repeat-x 0 -48px;
}


#top_text_pane {
  position: absolute;
  width: 5in;
  top: 0.1in;
  border: 1px dotted black;
  font-size: 40pt;
  text-align: center;
  line-height: 0.5in;
  left: 0.5in;
  border-bottom: 1px dottbed black;
  font-family: Impact;
  font-weight: bold;
  color: white;
  max-height: 2.2in;
  overflow: hidden;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

#bot_text_pane {
  position: absolute;
  bottom: 0;
  text-align: center;
  border: 1px dotted black;
  left: 0.5in;
  line-height: 0.5in;
  max-height: 2.2in;
  color: white;
  overflow: hidden;
  font-size: 40pt;
  font-family: Impact;
  font-weight: bold;
  width: 5in;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
