* {
	margin: 0;
	padding: 0;
}

html
{
	font-family: "Whitney 4 r", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	height:100%;
	line-height: 18px;
	overflow-y: auto;
}

body{
	font-family: "Whitney 4 r", Helvetica, Arial, sans-serif;
	padding:0;
	margin:0;
	height:100%;
	/*background-color: black;*/
	/* background-image: url("../pic/mememaster-background.jpg"); */
	background-color: #F0E6D4;
}

span,div,input,button{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.container{
	height:87%;
	/*background-color: yellow;*/
	overflow: hidden;
}

.left-panel{
	position: relative;
	height: 95.44%;
	width:2in;
	background-color: rgba(255,255,255,0.3);
	float:left;
	overflow: hidden;
}

.logo{
	width:100%;
	height:0.8in;
	background-color: white;
}

.logo img{
  vertical-align: middle;
  height: 100%;
}

.category{
	display: inline-block;
	width:100%;
	height:100%;
	padding-bottom: 0.8in;
	text-align: center;
}

.category-item{
	width:95%;
	height:0.8in;
	background-color: rgba(255,255,255,0.6);
	text-align: center;
	padding-top: 0.25in;
	margin-top: 2.5%;
	margin-left:auto;
	margin-right:auto;
	/*border-top: 1px solid rgba(250,250,250,0.8);*/
	font-size:1.5em;
	color:rgba(0,0,0,0.5);
}

.category-item:hover{
	background-color: rgba(255,255,255,0.9);
}

.right-panel{
	position: relative;
	height: 95.44%%;
	width:100%;
	margin-left: 2in;
	padding-right:2in;
	/*background-color: grey;*/
}

.search-bar{
	width:100%;
	height:0.8in;
	/*background-color: purple;*/
}

#search-box{
	-webkit-appearance:none;
	border:none;
	width:88%;
	height:0.5in;
	padding-left: 0.1in;
	margin-top: 0.07in;
	margin-left:1%;
	font-size: 1em;
	background-color:rgba(200,200,210,0.5);
	color:rgba(255,255,255,0.9);
}

#search-button{
	margin-left: -0.1in;
	width:10%;
	height: 0.51in;
	margin-top: 0.15in;
	font-size: 1em;
}

.content-view{
	position: relative;
	width:99.7%%;
	height:88%;
	background-color: rgba(0,0,0, 0.2);
	overflow-y: hidden;
}




.footer_wraper
{
	background-size: 1px 5px;
	background-position: top center;
	background-repeat: repeat-x;
	color: #94999c;
	text-align: center;
	padding: 5px 0 0;
	margin: -30px 0 0;
	background-color: white;
	font-family: "Whitney SSm 5r","lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 14px;
	height: 100%;
	border-top: 1px solid #94999c;
}

.footer_wraper .body .lower_content .soft_target
{
	z-index: 3;
}

.footer_wraper .body .lower_content
{
	position: relative;
	width: 100%;
	z-index: 1;
}



.footer_wraper .links
{
	display: inline-block;
	margin: 0 0 20px;
}

ul, ol
{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}

ul, menu
{
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.footer_wraper .links>li.home {
	display: none;
}

.footer_wraper .links>li {
	letter-spacing: 0.03em;
	text-transform: uppercase;
	display: inline-block;
	padding: 0.09in 10px;
}

li
{
	/*display: list item;*/
	text-align: -webkit-match-parent;
}

.footer_wraper .links>li a
{
	color: #94999c;
}

a {
	text-decoration: none;
}

a:-webkit-any-link {
	/*color: webkit link;*/
	text-decoration: none;
	text-align: center;
	cursor: auto;
}

.footer_wraper .fine-print
{
	color: #b8c3c9;
	font-size: 12px;
	margin: 0 0 0 0;
	font-family: "Whitney 4 r", Helvetica, Arial, sans-serif;
}

p
{
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}


footer
{
	position: relative;
	padding: 0;
	margin: 0;
	height: 17%;
}

/*.footer {
	padding: 0;
	margin: 0;
	width: 400px;
	float: left;
}*/

.footer ul
{
	padding: 0;
	margin: 0;
	list-style: none;
	border: 0;
}

.footer ul li
{
	float: left;
	margin-right: 0.5in;
	padding: 0;
	border: 0;
}

.menu ul li a
{
	float: left;
	margin: 0;
	padding: 13px 10px;
	text-decoration: none;
	border: 1px solid #000;
} 

.create-button
{
	position: relative;
	margin: 0.7% 0% 0.5% 0;
	text-align: center;
	height: 6%;
}

.createBtn
{
	position: relative;
	font-size: 12pt;
	color: white;
	background-color: red;
	width: 60%;
	height: 100%;
}


