@import url("animation.css");

a{
	text-decoration: none;
}

/* unvisited link */
a:link {
    color: rgba(133,133,255,1.0);
}

/* visited link */
a:visited {
    color: rgba(255,133,133,1.0);
}

/* mouse over link */
a:hover {
    color: rgba(255,255,133,1.0);
}

/* selected link */
a:active {
    color: green;
}

h1
{
	display: inline;
	padding-top: 20px;
	margin-top: 10px;
}

body{
	background-color:black;
	color:white;
	text-align: center;
	font-family: Laconic_Regular, Arial, Helvetica, sans-serif;
	background-image:url("../pic/background.jpg");
}

header{
	width:100%;
}

@font-face {
	font-family: 'Laconic_Regular';
	src: url('font/laconic/Laconic_Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Higher';
	src: url('font/higher_font/Higher.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('font/Roboto_v1.2/Roboto/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

.member-intro,.main-panel{
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	/*overflow:hidden;*/
	text-align: center;
}

.member-intro{
	margin-top: -60px;
}

.team-intro{
	width:1100px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	color:rgba(190,190,200,1.0);
	text-align: justify;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px;
}

.info{
	font-size: 14px;
	float:left;
	margin:15px;
	display:block;
	opacity: 0.9;
	-webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.info:hover{
	opacity: 1.0;
	-webkit-filter: none;
  	filter: none;
}

.info:hover .profile-img{
	-webkit-filter: none;
  	filter: none;
}

.info:nth-child(1):hover h2{
	color: rgba(255,255,150,1);
}
.info:nth-child(2):hover h2{
	color: rgba(255,173,153,1);
}
.info:nth-child(3):hover h2{
	color: rgba(255,190,120,1);
}
.info:nth-child(4):hover h2{
	color: rgba(245,212,180,1);
}
.info:nth-child(5):hover h2{
	color: rgba(180,180,255,1);
}

h2{
	-webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.intro,.name{
	width:200px;
}

.intro{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	text-align: left;
	color:rgba(255,255,255,1.0);
}

.brand{
	font-family: Higher;
	font-size: 250%;
	color: red;
	vertical-align: center;
	height:350px;
	overflow:hidden;
	background-color: rgba(100,255,230,0.15);
	text-align: center;
	/*background-image:url(../pic/dummy_profile_picture.jpg);*/
	background-position:left;
	background-repeat:no-repeat;
	background-size: 80px;
}

.profile-img{
	box-shadow: 6px 8px 6px rgba(34,34,34,0.6);
	-webkit-filter: contrast(1.3) grayscale(1);
  	filter: contrast(1.3) grayscale(1);
  	-webkit-transition: filter 0.3s, -webkit-filter 0.5s;
    transition: filter 0.3s, -webkit-filter 0.5s;
}

.profile-img:hover{
	-webkit-filter: none;
  	filter: none;
}

#team-name-div{
	display: inline-block;
	text-align: left;
}

.team-name{
	color: rgba(255,255,255,0.9);
	margin-top:-10px;
	font-size: 100px;
	text-shadow: 4px 6px 3px rgba(255,255,255,0.4);
}

hr{
	display: block;
	height:1px;
	border:0;
	border-top:1px solid rgba(100,100,100,1.0);
	margin: 1em 0;
	padding:0;
}

#meme-master-link{
	margin-top: 20px;
	font-size: 32px;
	font-family: 'Orbitron', sans-serif;
	/*text-shadow: 2px 2px 1px rgba(255,255,255,0.4);*/
}

em{
	color: rgba(255,60,60,1.0);
	font-size: 14px;
}