

body{
	background-color:black;
	color:white;
	text-align: center;
	font-family: Laconic_Regular, Arial, Helvetica, sans-serif;
	background-image:url("../pic/background.jpg");
}

header{
	width:100%;
}

@font-face {
	font-family: 'Laconic_Regular';
	src: url('font/laconic/Laconic_Regular.otf');
	font-weight: normal;
	font-style: normal;
}

.member-intro,.main-panel{
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
	text-align: center;
}

.team-intro{
	margin-top:20px;
	margin-bottom:20px;
}

.info{
	float:left;
	margin:15px;
	display:block;
}

.intro,.name{
	width:200px;
}

.brand{
	height:80px;
	overflow:hidden;
	background-color: gray;
	text-align: center;
	background-image:url(../pic/dummy_profile_picture.jpg);
	background-position:left;
	background-repeat:no-repeat;
	background-size: 80px;
}

#team-name{
	display:inline;
	text-align: center;
}
