body{
	background-color:black;
	color:white;
}

.main-panel{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
}

.info{
	float:left;
	margin:15px;
	display:block;
}

.brand{
	overflow:hidden;
	background-color: gray;
}

#logo{
	float:left;
}

#team-name{
	text-align: center;
}